<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.profil.smpn5tegal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPN5TEGAL"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.profil.smpn5tegal.SiapppdbActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.TenisActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.KarateActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.SepakbolaActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.VolyActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.PramukaActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.TeaterActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.profil.smpn5tegal.Buku9Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.Buku8Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.Buku7Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.GaleriActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.PerpusActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.FasilitasActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.EkskulActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.GuruActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.ProfilActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpn5tegal.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>